*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: url(../img/21.jpg);
    background-position: center center;
    background-size: cover;
    height: 120px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 5px 50px;
}
.logo{
    height: 110px;
}
nav ul{
    float: right;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 110px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(244, 242, 247);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.botones, li a:hover{
  background: rgb(98, 120, 245);
  transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(14, 13, 13);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 90%;
        height: 100vh;
        background: orange;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.botones{
        background: none;
        color: orangered;
    }
    #check:checked ~ ul{
        left: 0;
    }   
 /******************************************cuerpo***************************************************/
  





    
}
h1{
    text-align: center;
    background: rgba(4, 173, 252, 0.616);
    text-align-last: center;
    margin: 1%;  
    font-size: 30px;
    line-height: 80px; 
    color: hsl(0, 0%, 0%);  
    background: url(../img/22.jpg);
    background-position: center center;
    background-size: cover;
   
    width: 100%;
       
}
header .titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-position: center center;
    background-size: cover;
    text-align: center;
   
    
}

.titulo p{
    width: 40%;
    border: 1px solid blue;
    font-size: 20px;
    color: #070707;
    height: 80px;
    padding: 20px;
    margin: 0%;
    margin-block-end: 0%;
}
.titulo p1{
    
    width: 40%;
    border: 1px solid blue;
    font-size: 20px;
    color: #070707;
    height: 80px;
    padding: 20px;
    margin: 0%;
    margin-block-end: 0%;
    
    
}
.titulo p2{
    width: 40%;
    border: 1px solid blue;
    font-size: 20px;
    color: hsl(120, 3%, 6%);
    height: 80px;
    padding: 20px;
    margin: 0%;
    margin-block-end: 0%;
    
 /***************************************************************/   
}
header .titulo1{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-position: center center;
    background-size: cover;
    background: url(../img/Abeja5.jpg);
    background-size: cover;
    width: 100%;
    
}

.titulo1 p{
    width: 40%;
    font-size: 20px;
    color: #00a151;
    height: 300px;
    padding: 30px;
    margin: 0%;
    margin-block-end: 0%;
    text-align: center;  
   
}

.titulo1 p1{
    
    width: 40%;
    
    font-size: 20px;
    color: #070707;
    height: 300px;
    padding: 20px;
    text-align: center;
    margin: 0%;
    margin-block-end: 0%;
    
    
}
.titulo1 p2{
    width: 40%;
    font-size: 20px;
    color: hsl(113, 96%, 21%);
    height: 300px;
    padding: 20px;
    text-align: center;
    margin: 0%;
    margin-block-end: 0%;
    

    
/****************pie************************/   
}    
   
section footer p{
    
    font-size: 20px;
    text-align: center;
    height: 70px; 
    margin: 50px 10px ;
    background: rgb(6, 178, 247);
    margin-block-end: 1%;
    padding: 20px;
    
    
/****************pie************************/   
}    
   

footer .pie{
    margin: 0;
    margin-block-end: 0%;
    height: 100px;
    background: rgb(12, 12, 11);
    align-items: center;
    justify-content: space-between;
    display: flex;
    
    
    
}
footer .pie h5 { 
   
    text-align:left;
    color: rgb(231, 220, 220);
    margin-left: 45px;
    font-size: 15px;
    align-items: center;
}
footer li { 
    
    text-align: right;
    margin-right: 45px;
    font-size: 15px;
    align-items: center;
    
}
footer div a { 
    color: seashell;
      
}